body {
  padding-bottom: 40px;
  background-image: url(img/stripes.png);
  /*color: #5a5a5a;
  background-color: aqua;*/
  /*background-image: url(img/nature-sky-sunset-man.jpeg)*/
}
.canvas-holder
{
    width: 409px;
    height: 204px;
}
.input
{
    padding-bottom: 10px;
    padding-top: 0px;
}
.form-control
{
    border-bottom-width: thin;
    margin-top: 0px;
    
}
.btn-primary
{
    margin-top: 10px
}
@font-face {
   font-family: myFirstFont;
   src: url(santasairmail.ttf);
}
.title
{
    font-family: myFirstFont;
}
.container
{
    background-color:floralwhite;
    /*background-size: cover;
    width: 100vw;
    margin:auto;
    padding-bottom: 5%;
    padding-top: 15%;
    min-height: inherit;
    color: floralwhite;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;*/
    margin-top: 1%;
    margin-bottom: 2%;
    height: 670px;
    text-align: center;
}
.literally backgrounds
{
    margin-top: 10%;
}
.button-container
{
    margin-top: 25%;
    margin-bottom: 1%;
}
.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}


